# Node.js dependencies (frontend)
frontend/node_modules/

# Python virtual environment (backend)
backend/venv/

# Django migrations
backend/backend/__pycache__/
backend/backend/migrations/

# Environment variables
*.env

# Database files
*.sqlite3

# Docker ignore
**/docker-compose.yml
**/Dockerfile

# Ignore any generated build files
frontend/.next/
frontend/.nuxt/
