{% load static %}
<aside class="sidebar" id="sidebar">
    <h2>Hello, {{ user.first_name }}</h2>
    <a href="{% url 'visitor_search_manuscripts' %}">Home</a>
    <a href="{% url 'dashboard_page' %}">Dashboard</a>
    <a href="{% url 'faculty_manuscripts' %}">My Manuscripts</a>
    <a href="{% url 'manuscript_access_requests' %}" class="{% if pending_access_requests > 0 %}{% endif %}">
        Request Access
        {% if pending_access_requests > 0 %}
        <span>({{ pending_access_requests }})</span>
        {% endif %}
    </a>

    <!-- Toggle Manage Section -->
    <div class="manage-toggle">
        <button class="toggle-button" onclick="toggleManage()">Manage</button>
        <div class="manage-links hidden" id="manageLinks">
            <a href="{% url 'manage_users' %}">Advisers</a>
            <a href="{% url 'manage_program' %}">Program</a>
            <a href="{% url 'manage_category' %}">Category</a>
            <a href="{% url 'manage_type' %}">Type</a>
        </div>
    </div>

    <a href="{% url 'logout' %}">Logout</a>
</aside>


<script>
    function toggleManage() {
        const manageLinks = document.getElementById('manageLinks');
        manageLinks.classList.toggle('hidden');
    }
</script>

