{% load static %}
<aside class="w-64 bg-white shadow-md p-6 rounded-lg">
    <h2 class="font-semibold text-xl text-center mb-6 text-[#25580F]"> {{user.first_name }}</h2>
    <div>
        <ul class="mt-6 space-y-4">
            <li class="mb-4">
                <a href="/dashboard" class="sidebar-link">Dashboard</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'manage_users' %}" class="sidebar-link">Manage Users</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'manage_program' %}" class="sidebar-link">Manage Program</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'manage_category' %}" class="sidebar-link">Manage Category</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'manage_batch' %}" class="sidebar-link">Manage Batch</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'manage_type' %}" class="sidebar-link">Manage Type</a>
            </li>
            {% comment %} <li class="mb-4">
                <a href="/manage-manuscripts" class="sidebar-link">Manage Manuscripts</a>
            </li>
            <li class="mb-4">
                <a href="/approve-manuscripts" class="sidebar-link">Approve Manuscripts</a>
            </li>
            <li class="mb-4">
                <a href="/settings" class="sidebar-link">Settings</a>
            </li> {% endcomment %}
            <li class="mb-4">
                <a href="{% url 'logout' %}" class="block p-3 text-gray-700 hover:bg-gray-200 rounded transition duration-200">Logout</a>
            </li>
        </ul>
    </div>
</aside>


