{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="{% static 'css/dashboards.css' %}" rel="stylesheet">
</head>
<body>

<header class="header">
    <a href="{% url 'index' %}" class="logo text-white">College of Computing Studies</a>
    <!-- Hamburger icon for small screens -->
    <div class="hamburger" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>

<main class="main">
    <!-- Sidebar -->
    {% if user.is_admin %}
        {% include 'partials/sidebar_admin.html' %}
        {% elif user.is_student %}
        {% include 'partials/sidebar_student.html' %}
        {% elif user.is_adviser %}
        {% include 'partials/sidebar_adviser.html' %}
        {% endif %}
        {% block content %}
        {% endblock %}
</main>

<script>
    function toggleSidebar() {
        const sidebar = document.getElementById("sidebar");
        sidebar.classList.toggle("active");
    }
</script>

</body>
</html>
