{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCS REPOSITORY</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>

    <header class="header">
        <a href="{% url 'index' %}"class="logo text-white">College of Computing Studies</a>
            <!-- Hamburger icon for small screens -->
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="nav text-white" id="navbar">
            <a href="{% url 'visitor_search_manuscripts' %}">Find</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </nav>
    </header>

    {% block content %}
        
        {% endblock %}

    <footer class="footer">
        <p>&copy; 2024 College Of Computing Studies. All rights reserved.</p>
    </footer>

    <script>
        function toggleMenu() {
            const navbar = document.getElementById("navbar");
            navbar.classList.toggle("active");
        }
        </script>

</body>
</html>
