#pdf-viewer {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.pdf-page {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.ocr-text-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}

.ocr-page {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ocr-page h4 {
    margin-bottom: 5px;
    color: #007bff;
    font-weight: 600;
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-container input {
    padding: 12px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-container input:focus {
    border-color: #45b322;
    outline: none;
}

.search-container button {
    padding: 12px 18px;
    margin-left: 5px;
    border: none;
    background-color: #45b322;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #2e7d1a;
}

.highlight {
    background-color: #ffeb3b;
    border: 1px solid #cddc39;
}

.matching-text {
    background-color: #f3f4f6;
    padding: 10px;
    border-left: 4px solid #3a6c24;
}

.non-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
