{% extends "base_dashboard.html" %}
{% load static %}
{% block content %}
<div class="content-card">
    <!-- Page Title -->
    <h1>Your Manuscript Details</h1>
    <!-- Manuscript Information Card -->
    <section class="manuscript-card">
        <h2>Manuscript Information</h2>
        <p><strong>Title:</strong> {{ manuscript.title }}</p>
        <p><strong>Authors:</strong> {{ manuscript.authors }}</p>
        <p><strong>Category:</strong> {{ manuscript.category }}</p>
        <p><strong>Type:</strong> {{ manuscript.manuscript_type }}</p>
        <p><strong>Batch:</strong> {{ manuscript.year }}</p>
        <p><strong>Abstract:</strong> {{ manuscript.abstracts }}</p>
        <p><strong>Published Date:</strong> {{ manuscript.publication_date }}</p>
        <p><a href="{{ manuscript.pdf_file.url }}" target="_blank" class="details-link">View PDF</a></p>
    </section>

        <form method="POST" class="ocr-card">
            {% csrf_token %}
            <h2>Feedback</h2>
            <textarea name="feedback" rows="4" required> </textarea>
            <div>
                <h2>Decision</h2>
                <label>
                <input type="radio" name="decision" value="approve" required>
                <span>Approve</span>
                </label>
                <label>
                    <input type="radio" name="decision" value="reject" required>
                    <span>Reject</span>
                    </label>
            </div>
            <button type="submit" class="details-link">Submit Decision and Feedback</button>
        </form>

    <!-- Back Button -->
    <div class="back-button">
        <a href="{% url 'faculty_manuscripts' %}" class="details-link">Back to My Manuscripts</a>
    </div>
</div>
{% endblock %}