{% extends "base_dashboard.html" %}

{% block content %}
<div class="content">
    <h1>Dashboard</h1>

<!-- Add Modal -->
<div class="modal-overlay" id="modal">
    <div class="modal-container">
        <div class="modal-header">
            <h3>Create New Category</h3>
            <button class="modal-close" id="close-modal">&times;</button>
        </div>
        <form class="modal-form" action="{% url 'manage_category' %}" method="POST">
          {% csrf_token %}
            <label for="name">Category Name: </label>
            <input type="text" id="name" name="name" required />

            <button type="submit">Submit</button>
        </form>
    </div>
</div>

    <table class="manuscript-table">
        <h3> Most uploaded manuscripts </h3>
        <thead>
            <tr>
                <th>Adviser</th>
                <th>Total Manuscripts</th>
            </tr>
        </thead>
        <tbody>
            {% for adviser in advisers %}
            <tr>
                <td>
                    {{ adviser.first_name }} {{ adviser.last_name }}
                  </td>
                  <td>{{ adviser.manuscript_count }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Category found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
