{% extends "base_dashboard.html" %}

{% block content %}
<div class="content">
    <h1>Dashboard</h1>

    <table class="manuscript-table">
        <h3> Manuscript under the adviser</h3>
        <thead>
            <tr>
                <th>Adviser</th>
                <th>Total Manuscripts</th>
            </tr>
        </thead>
        <tbody>
            {% for adviser in advisers %}
            <tr>
                <td>
                    {{ adviser.first_name }} {{ adviser.last_name }}
                  </td>
                  <td>{{ adviser.manuscript_count }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Category found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
