{% extends "base_dashboard.html" %}

{% block content %}
<div class="content">
    <h1>Manage Advisers</h1>

  <!-- Trigger Button -->
  <a href="{% url 'create_adviser' %}" class="details-link">Create New Adviser</a>

    <table class="manuscript-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for adviser in page_obj %}
            <tr>
                <td>{{ adviser.first_name }} {{ adviser.middle_name }} {{ adviser.last_name }}</td>
                <td>{{ adviser.username }}</td>
                <td>{{ adviser.email }}</td>
                <td>
                    <a href="{% url 'edit_adviser' adviser.id %}" class="details-link">Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Advisers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination-container">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
      const password1 = document.getElementById("password1");
      const password2 = document.getElementById("password2");
      const type = password1.type === "password" ? "text" : "password";
      password1.type = type;
      password2.type = type;
    }
  </script>

{% endblock %}
