{% extends "base_dashboard.html" %}

{% block content %}
<div class="content">
    <h1>Manage Category</h1>

   <!-- Trigger Button -->
   <a href="{% url 'create_category' %}" class="details-link">Create New Category</a>

    <table class="manuscript-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in page_obj %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{% url 'edit_category' category.id %}" class="details-link">Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Category found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination-container">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</div>

<script>
    document.getElementById("open-modal").addEventListener("click", function () {
      document.getElementById("modal").classList.add("active");
  });
  
  document.getElementById("close-modal").addEventListener("click", function () {
      document.getElementById("modal").classList.remove("active");
  });
  
  window.addEventListener("click", function (event) {
      const modal = document.getElementById("modal");
      if (event.target === modal) {
          modal.classList.remove("active");
      }
  });
  </script>

{% endblock %}
