{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-gray-100 p-6">
    <div class="max-w-6xl mx-auto">
        <form method="get" class="flex items-center mb-6">
            <input
                type="text"
                id="search-input"
                name="search"
                value="{{ search_query }}"
                placeholder="Search for manuscripts..."
                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-[#25580F] focus:border-[#25580F] sm:text-sm"
            />
            <button
                type="submit"
                class="ml-3 px-4 py-2 bg-[#25580F] text-white rounded-lg hover:bg-[#1c4a0c] transition duration-300"
            >
                Search
            </button>
        </form>
        <div class="mb-6 flex justify-between items-center">
            <div class="flex space-x-4">
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
            {% for manuscript in manuscripts %}
            <div class="bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition duration-300">
                <h3 class="text-lg font-semibold text-gray-900">{{ manuscript.title }}</h3>
                <p class="text-sm text-gray-600">Author: {{ manuscript.authors }}</p>
                <p class="text-sm text-gray-600">Batch: {{ manuscript.batch }}</p>
                <p class="text-sm text-gray-600">Program: {{ manuscript.program.name }}</p>
                <p class="text-sm text-gray-600">Category: {{ manuscript.category.name }}</p>
                <button class="mt-4 px-3 py-2 bg-[#25580F] text-white rounded-lg w-full hover:bg-[#1c4a0c] transition duration-300">
                    View Manuscript
                </button>
            </div>
            {% empty %}
            <p>No manuscripts found.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
