{% extends "base_dashboard.html" %}

{% block content %}
<div class="mx-auto p-6 max-w-4xl">
    <h2 class="text-3xl font-bold text-[#25580F] mb-6 text-center">Manuscript Details</h2>

    <div class="bg-white shadow-lg rounded-lg p-6 mb-6 border border-gray-200">
    <div class="bg-yellow-100 border-l-4 border-yellow-500 p-4 mb-6">
        <h4 class="font-semibold text-[#25580F] mb-4">Feedback:</h4>
        <p class="text-gray-700">{{ manuscript.feedback|default:"No feedback Yet." }}</p>
    </div>
</div>

    <div class="bg-white shadow-lg rounded-lg p-6 mb-6 border border-gray-200">

        
        <h3 class="text-2xl font-semibold text-[#25580F] mb-4">{{ manuscript.title }}</h3>
        <p class="text-lg mb-2"><strong>Authors:</strong> <span class="text-gray-600">{{ manuscript.authors }}</span></p>
        <p class="text-lg mb-2"><strong>Category:</strong> <span class="text-gray-600">{{ manuscript.category }}</span></p>
        <p class="text-lg mb-2"><strong>Type:</strong> <span class="text-gray-600">{{ manuscript.manuscript_type }}</span></p>
        <p class="text-lg mb-4"><strong>Batch:</strong> <span class="text-gray-600">{{ manuscript.batch }}</span></p>
        <p class="text-lg mb-4"><strong>Abstract:</strong> <span class="text-gray-600">{{ manuscript.abstracts }}</span></p>
        <p class="text-lg mb-2"><strong>Status:</strong> <span class="font-medium {{ manuscript.is_approved|yesno:'text-green-600,text-red-600' }}">{{ manuscript.status }}</span></p>
        <p class="text-lg mb-4"><strong>Submission Date:</strong> <span class="text-gray-600">{{ manuscript.publication_date }}</span></p>
        <a href="{{ manuscript.pdf_file.url }}" target="_blank" class="text-[#25580F] hover:underline mt-2 inline-block">View PDF</a>
    </div>


    <div class="text-center">
        <a href="{% url 'student_manuscripts' %}" class="text-blue-500 hover:underline">Back to My Manuscripts</a>    
    </div>
</div>

{% endblock %}
