{% extends "base_dashboard.html" %}

{% block content %}
<div class="content">
    <h1>Requested Access</h1>
    <p>Below is the list of Manuscript you requested to have access</p>

    <!-- Table for Manuscripts -->
    <table class="manuscript-table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Requested At</th>
                <th>Status</th>
                <th>Approved At</th>
                <th>Access End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in page_obj %}
            <tr>
                <td>{{ request.manuscript }}</td>
                <td>{{ request.requested_at }}</td>
                <td>{{ request.get_status_display }}</td>
                <td>
                    {% if request.approved_at %}
                    {{ request.approved_at|date:"Y-m-d H:i" }}
                    {% else %}
                    <span>N/A</span>
                    {% endif %}
                </td>
                <td>
                    {% if request.access_end_date %}
                    {{ request.access_end_date|date:"Y-m-d H:i" }}
                    {% else %}
                    <span>N/A</span>
                    {% endif %}
                </td>
                <td>
                   <a href="{% url 'visitor_manuscript_detail' request.manuscript.id %}" class="details-link">
                    View
                   </a>
                </td>           
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Access requests found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination-container">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
